<section>
    <div class="dialog-header-row">
        <div class="dialog-header-text">Show measures from:</div>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="option">
            <mat-radio-button value="today">Last 24h</mat-radio-button>
            <mat-radio-button value="last_week">Last week</mat-radio-button>
        </mat-radio-group>
    </div>
</section>


<mat-dialog-content>
    <line-chart [flower]=flower [option]=option></line-chart>
</mat-dialog-content>

<div class="close-button">
    <mat-dialog-actions>
        <a mat-button (click)="close()">Close</a>
    </mat-dialog-actions>
</div>