.close-button{
    float: right;
}
section {
    display: table;
}
.dialog-header-text {
    font-size: 16px;
    margin-left: 8px;
    min-width: 50px;
}

.dialog-header-row {
    width: 490px;
    display: flex;
    justify-content: flex-end;
}

.mat-radio-button {
    margin-left: 16px;
    font-family: source sans pro, sans-serif;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}     
@media only screen and (max-width: 600px) { 
    .dialog-header-text {
        display: table-cell;
        font-size: 14px;
        margin-left: 8px;
    }

    .mat-radio-button {
        margin-left: 16px;
        font-family: source sans pro, sans-serif;
        font-size: 14px;
    }
    .dialog-header-row {
        width: 350px;
        display: flex;
        justify-content: space-between;
    }
}