  section {
    display: table;
  }

  .icon {
    color: #dd4e4e;
    margin-top: -10px;
  }

  .section {
    padding-bottom: 5px;
  }

  .flower-prop-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 140px;
    max-width: 140px;
  }

  .flower-prop-text {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 60;
  }
  
  .flower-prop-button-row {
    display: table-cell;
    width: 250px;
  }
  
  .flower-prop-button-row .mat-button-base {
    margin: 0px 8px 0px 0;
    min-width: 50px;
    z-index: 3;
  }

  .flower-prop-button-row .flower-prop-text {
    margin: 0px 8px 0px 0;
    padding: 4px 0px;
  }
  
  .flower-prop-flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flower-prop-button-container {
    display: flex;
    justify-content: center;
  }
  .flower-prop-button-container-right {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .flower-prop-button-container-right button {
    top: -8px;
    height: 30px;
  }

@media only screen and (min-width: 900px) { 
  .flower-prop-button-container {
    width: 120px;
  }
}

  .flower-prop-form {
    min-width: 80px;
    max-width: 80px;
  }
  
  .flower-prop-input {
    width: 100%;
  }

  .flower-prop-form-label{
    font-size: 12px;
  }

  .green-button{
    align-self: center;
    text-align: center;
    color: #5cb85c;
}

.flower-prop-input .mat-input-element{
  font-size: 12px;

}

