<mat-divider></mat-divider>
<section class="section">
    <div class="flower-prop-label"><span class="green-word">Current</span> soil moisture:</div>
    <div class="flower-prop-button-row">
        <div class="flower-prop-flex-container">

            <div class="flower-prop-button-container">
                <div class="flower-prop-text">{{flower.actualSoilMoisture}}%</div>
            </div>

            <!-- <div class="flower-prop-button-container-right">
                <button style="border: none; background: none; z-index: 1000;">
                    <img class="icon" (click)="refresh()" [attr.src]="'../assets/images/refresh.png'" alt="">
                </button>
            </div> -->

            <button mat-icon-button (click)="refresh()">
                <mat-icon class="icon">refresh</mat-icon>
            </button>
        </div>
    </div>
</section>

<section class="section">
    <div class="flower-prop-label"><span class="green-word">Minimum</span> soil moisture:</div>
    <div class="flower-prop-button-row">
        <div class="flower-prop-flex-container">
            <div class="flower-prop-button-container">
                <div class="flower-prop-text">{{flower.minMoisture}}%</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="flower-prop-label">Last watering:</div>
    <div class="flower-prop-button-row">
        <div class="flower-prop-flex-container" style="min-width: 150px;">
            <div class="flower-prop-button-container">
                <div class="flower-prop-text">{{flower.lastWateringDate}}</div>
            </div>
            <div class="flower-prop-button-container-right">
                <div class="flower-prop-text">{{flower.lastWateringTime}}</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="flower-prop-label">More:</div>
    <div class="flower-prop-button-row">
        <div class="flower-prop-flex-container">
            <div class="flower-prop-button-container">
                <button mat-icon-button aria-label="flower-prop icon button with a menu icon" data-toggle="collapse"
                    [attr.data-target]="'#' + flower.id" [attr.aria-controls]="flower.id" aria-expanded="false">
                    <mat-icon class="green-icon">menu</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>


<mat-divider></mat-divider>

<div [attr.id]="'accordion' + flower.id">
    <div [attr.id]="flower.id" class="collapse" aria-labelledby="headingTwo"
        [attr.data-parent]="'#accordion' + flower.id">
        <section>
            <div class="flower-prop-label">Set minimum soil moisture:</div>
            <div class="flower-prop-button-row">
                <div class="flower-prop-flex-container" style="min-width: 150px;">
                    <div class="flower-prop-button-container">
                        <form class="flower-prop-form">
                            <mat-form-field class="flower-prop-input">
                                <mat-label class="flower-prop-form-label">Enter moisture</mat-label>
                                <input matInput placeholder="Ex. 50" name="new-moisture-input"
                                    [(ngModel)]='newMoisture'>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="flower-prop-button-container-right">
                        <a mat-button (click)="setMoisture()" style="align-self: center;"><span
                                class="green-word">Save</span></a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="flower-prop-label">Set plant name:</div>
            <div class="flower-prop-button-row">
                <div class="flower-prop-flex-container" style="min-width: 150px;">
                    <div class="flower-prop-button-container">
                        <form class="flower-prop-form">
                            <mat-form-field class="flower-prop-input">
                                <mat-label class="flower-prop-form-label">Enter name</mat-label>
                                <input matInput placeholder="Ex. Jack" name="new-name-input" [(ngModel)]='newName'>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="flower-prop-button-container-right">
                        <a mat-button (click)="setName()" style="align-self: center;"><span
                                class="green-word">Save</span></a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="flower-prop-label">Set moisture check frequency:</div>
            <div class="flower-prop-button-row">
                <div class="flower-prop-flex-container" style="min-width: 150px;">
                    <div class="flower-prop-button-container">
                        <form class="flower-prop-form">
                            <mat-form-field class="flower-prop-input">
                                <mat-label class="flower-prop-form-label">Enter frequency</mat-label>
                                <input matInput placeholder="Ex. 15[min]" name="new-frequency-input" [(ngModel)]='newFrequency'>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="flower-prop-button-container-right">
                        <a mat-button (click)="setFrequency()" style="align-self: center;"><span
                                class="green-word">Save</span></a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="flower-prop-label">Set watering duration:</div>
            <div class="flower-prop-button-row">
                <div class="flower-prop-flex-container" style="min-width: 150px;">
                    <div class="flower-prop-button-container">
                        <form class="flower-prop-form">
                            <mat-form-field class="flower-prop-input">
                                <mat-label class="flower-prop-form-label">Enter duration</mat-label>
                                <input matInput placeholder="Ex. 15[min]" name="new-duration-input" [(ngModel)]='newWateringDuration'>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="flower-prop-button-container-right">
                        <a mat-button (click)="setWateringDuration()" style="align-self: center;"><span
                                class="green-word">Save</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>