<div class="status-container">
    <section style="margin-bottom: 15px;">
        <div class="water-level-label">System:</div>
        <div class="water-level-button-row">
            <div class="water-level-flex-container">
                <div class="water-level-button-container">
                    <button mat-icon-button (click)="turnOnOffSystem()">
                        <img *ngIf="powerSupplyStatus!='0'" class="icon" [attr.src]="'../assets/images/turn_on.png'"
                            alt="">
                        <img *ngIf="powerSupplyStatus=='0'" class="icon" [attr.src]="'../assets/images/turn_off.png'"
                            alt="">
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-bottom: 30px;">
        <div class="water-level-label">Water tank level:</div>
        <div class="water-level-button-row">
            <div class="water-level-flex-container">
                <div class="water-level-button-container">
                    <img *ngIf="waterLevelStatus!='0'" class="icon" style="margin-left: 5px;"
                        [attr.src]="'../assets/images/tank_lvl_ok.png'" alt="">
                    <img *ngIf="waterLevelStatus=='0'" class="icon" style="margin-left: 5px;"
                        [attr.src]="'../assets/images/tank_lvl_empty.png'" alt="">
                </div>
            </div>
        </div>
    </section>
</div>