section {
    display: table;
  }
  
  .icon {
    max-width: 30px;
  }
  .water-level-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
    max-width: 120px;
  }
  
  .water-level-button-row {
    display: table-cell;
    width: 250px;
  }
  
  /* .water-level-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  } */

  .water-level-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .status-container {
    margin-left: 10%;
  }