@import "assets/styles/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(//db.onlinewebfonts.com/c/3043071666dc2cb13741d90b11e31799?family=Hobo);
@import url(//db.onlinewebfonts.com/c/516e47a06218699c319bb58e9fa11f33?family=Gill+Sans+Nova+Medium);

.green-word {
    color: rgb(5 134 0);
}

.mat-simple-snackbar{ 
    z-index: 99
}

.mat-simple-snackbar span{ 
    color:rgb(5 134 0); 
}
.green-icon-xl {
    color: rgb(5 134 0);
}

.green-icon {
    color: rgb(5 134 0);
}

.green-icon svg {
    fill: rgb(5 134 0);
}



@media screen and (max-width: 500px){ 
    html,body {
        width:500px
    } 
}

.flowers-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f2eddc;
}

@media (min-width: 544px) {
    .flowers-container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .flowers-container {
        max-width: 700px;
    }
}
@media (min-width: 992px) {
    .flowers-container {
        max-width: 750;
    }
}
@media (min-width: 1200px) {
    .flowers-container {
        max-width: 900;
    }
}