<div class="container">
    <img class="card-img-top banner-logo" style="max-width: 50%;" [attr.src]="'../assets/images/logo.png'"
        alt="Card image cap">
</div>

<system-status-monit></system-status-monit>

<div class="flowers-container">
    <ng-container *ngFor="let flower of flowersArray">
        <flower-card [flower]=flower></flower-card>
    </ng-container>
</div>