<div class="card border-0" style="box-shadow: 0 0 0; margin-bottom:50px ">
    <div class="row">
        <div class="col-xs-5" style="align-self: center;">
            <img class="card-img-top flower-img pull-xs-right" [attr.src]="'../../assets/images/' + flower.imgName" alt="Card image cap">
        </div>

        <div class="col-xs-7">
            <h5 class=""><span class="header-underline">{{flower.name}}</span></h5>

            <app-flower-properties-pane [flower]=flower></app-flower-properties-pane>
            <div class="chart-button-container">
                <a mat-button (click)="openDialog()" class="chart-button">Show soil moisture chart</a>
            </div>
        </div>
       
    </div>
</div>  