<footer>
    <div class="container footer">
        <a class="logo-font" routerLink="/">Smart Plant</a>
        <!-- <img class="card-img-top banner-logo" style="max-width: 50%;" [attr.src]="'../assets/images/logo.png'" -->
        <!-- alt="Card image cap"> -->
        <span class="attribution">
            &copy; {{ today | date: 'yyyy' }}.
            A project for master's thesis at University of Science and
            Technology in Cracow.
            Code licensed under MIT.
        </span>
    </div>
</footer>
